<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!--<div ng-controller="ListCtrl as ctrl">-->
        <!--<ul>-->
            <!--<li data-ng-repeat="employee in ctrl.employees track by $index">-->
                <!--{{employee.firstname}}-->
                <!--{{employee.lastname}}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div ng-controller="ListCtrl as ctrl">
        <ul>
            <li ng-repeat="employee in ctrl.employees">
                {{employee.firstname}}
                {{employee.lastname}}
            </li>
        </ul>
    </div>
    <div style="padding: 30px" ng-controller="RegCtrl as ctrl">
        <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" class="form-control"
                       ng-model="ctrl.employee.firstname" required>
                <span class="help-block" ng-show="regForm.firstname.$invalid">Please enter first name</span>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" class="form-control"
                       ng-model="ctrl.employee.lastname" required>
                <span class="help-block" ng-show="regForm.lastname.$invalid">Please enter last name</span>
            </div>
            <div class="form-group">
                <label>Gender:</label>
                <div class="radio">
                    <label class="radio-inline"><input type="radio" name="gender" ng-model="ctrl.employee.gender"
                                                       value="male" required>Male</label>
                    <label class="radio-inline"><input type="radio" name="gender" ng-model="ctrl.employee.gender"
                                                       value="female" required>Female</label>
                    <span class="help-block" ng-show="regForm.gender.$invalid">Please choose a gender.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday: </label>
                <input type="date" id="birthday" name="birthday" class="form-control" ng-model="ctrl.employee.birthday" required>
                <span class="help-block" ng-show="regForm.birthday.$invalid">Please choose a birthday.</span>
            </div>
            <div class="form-group">
                <label for="hiredate">Hire Date: </label>
                <input type="date" id="hiredate" name="hiredate" class="form-control" ng-model="ctrl.employee.hiredate" required>
                <span class="help-block" ng-show="regForm.hiredate.$invalid">Please choose a hire date.</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-success form-control" ng-disabled="regForm.$invalid">Register</button>
            </div>
        </form>
        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code" ng-class="{'alert-success': ctrl.status.code==202, 'alert-danger': ctrl.status.code==400}">
            <button class="close" data-dismissable="alert" ng-click="ctrl.status = {}">x</button>
            {{ctrl.status.message}}
        </div>
    </div>
    <!--<div style="padding: 30px" ng-controller="RegCtrl as ctrl">-->
        <!--<form name="queryForm" novalidate ng-submit="ctrl.query()">-->
            <!--<label for="empno">Enter Employee Number: </label>-->
            <!--<input type="number" id="empno" required ng-model="ctrl.employeeID">-->
            <!--<button type="submit" ng-disabled="queryForm.$invalid">Search</button>-->
        <!--</form>-->
        <!--<table class="table table-striped" ng-show="ctrl.result">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Field name</th>-->
                <!--<th>Value</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Employee number</td>-->
                <!--<td>{{ ctrl.result.emp_no }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>First name</td>-->
                <!--<td>{{ ctrl.result.first_name }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Last name</td>-->
                <!--<td>{{ ctrl.result.last_name }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Gender</td>-->
                <!--<td>{{ ctrl.result.gender }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Birth date</td>-->
                <!--<td>{{ ctrl.result.birth_date | date:"yyyy MM dd" }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Hire date</td>-->
                <!--<td>{{ ctrl.result.hire_date | date:"yyyy MM dd" }}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
</html>