<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Query</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div style="padding: 30px" ng-controller="RegCtrl as ctrl">
        <form name="queryForm" novalidate ng-submit="ctrl.query()">
            <label for="empno">Enter Employee Number: </label>
            <input type="number" id="empno" required ng-model="ctrl.employeeID">
            <button type="submit" ng-disabled="queryForm.$invalid">Search</button>
        </form>
        <table class="table table-striped" ng-show="ctrl.result">
            <thead>
            <tr>
                <th>Field name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Employee number</td>
                <td>{{ ctrl.result.emp_no }}</td>
            </tr>
            <tr>
                <td>First name</td>
                <td>{{ ctrl.result.first_name }}</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>{{ ctrl.result.last_name }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{ ctrl.result.gender }}</td>
            </tr>
            <tr>
                <td>Birth date</td>
                <td>{{ ctrl.result.birth_date | date:"yyyy MM dd" }}</td>
            </tr>
            <tr>
                <td>Hire date</td>
                <td>{{ ctrl.result.hire_date | date:"yyyy MM dd" }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
</html>